# Team Ernst Engel Nutritional Content Notebook
In this notebook, we obtain the nutritional contents for the foods of interest for our project.

In [120]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import interact, interactive, widgets
import fooddatacentral as fdc

# This is a local file unique to Jordan's computer
# It contains his USDA FoodData Central API Key
# Do Not Uncomment or it will cause an error
import config

In [140]:
foods_oi = pd.read_csv('./data/foods_oi.csv').set_index('Food')
apikey = config.API_KEY

In [142]:
foods_oi

                     FDC
Food
Wheat Flour      2432946
Wheat Cereal     2343964
Corn Meal        2079814
Rolled Oats      2478125
Evaporated Milk  1889123
Cabbage           169975
Potatoes          576920
Spinach           168462
Sweet Potatoes   2427040
Navy Beans       1859097
Sugar             169656
Beets             169145
Milk (Whole)     2340762
Liver (Beef)      169451

In [158]:
D = {}
for food in foods_oi.index:
    try:
        FDC = foods_oi.loc[food,'FDC']
        D[food] = fdc.nutrients(apikey,FDC).Quantity
    except:
        pass

D = pd.DataFrame(D,dtype=float)

D

,Wheat Flour,Wheat Cereal,Corn Meal,Rolled Oats,Evaporated Milk,Cabbage,Potatoes,Spinach,Sweet Potatoes,Navy Beans,Sugar,Beets,Milk (Whole),Liver (Beef)
Alanine,NaN,NaN,NaN,NaN,NaN,0.042,NaN,0.142,NaN,NaN,NaN,0.060,NaN,1.164
"Alcohol, ethyl",NaN,0.00,NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,0.00,0.000,0.00,0.000
Amino acids,NaN,NaN,NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,0.00,0.000,NaN,0.000
Arginine,NaN,NaN,NaN,NaN,NaN,0.075,NaN,0.162,NaN,NaN,NaN,0.042,NaN,1.241
Ash,NaN,NaN,NaN,NaN,NaN,0.640,NaN,1.720,NaN,NaN,0.01,1.080,NaN,1.310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vitamin K (Dihydrophylloquinone),NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
Vitamin K (phylloquinone),NaN,0.30,NaN,NaN,NaN,76.000,NaN,482.900,NaN,NaN,0.00,0.200,0.30,3.100
Vitamins and Other Components,NaN,NaN,NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,0.00,0.000,NaN,0.000
Water,NaN,9.31,NaN,NaN,NaN,92.180,NaN,91.400,NaN,NaN,0.23,87.580,88.10,70.810
"Zinc, Zn",NaN,0.96,NaN,NaN,NaN,0.180,NaN,0.530,NaN,NaN,0.01,0.350,0.42,4.000