# Team Ernst Engel Nutritional Content Notebook
In this notebook, we obtain the nutritional contents for the foods of interest for our project. Moreover, we examine the nutritional adequacy of the diets of the housholds in our analysis.

In [275]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import interact, interactive, widgets
import fooddatacentral as fdc

# This is a local file unique to Jordan's computer
# It contains his USDA FoodData Central API Key
# Keep Commented or it will cause an error
import config

## Getting Nutritional Contents

In [140]:
foods_oi = pd.read_csv('./data/foods_oi.csv').set_index('Food')
apikey = config.API_KEY
dr_categories = pd.read_csv('./data/us_diet_minimums.csv')['Nutrition'].values

In [189]:
def get_nutritional_content(foods_oi, apikey, dr_categories):
    '''
    Description
    --------------------------------------------------
    Gets the nutritional content for the food of 
    interest.
    
    Inputs
    --------------------------------------------------
    + foods_oi : pandas dataframe; foods of interest
        with their FDC id
    + apikey : string; FoodData Central API key
    + dr_categories : array; USDA dietary requirment
        categories
    
    Outputs
    --------------------------------------------------
    + food_nutrients : pandas dataframe; contains the
        nutritional contents of all foods of interest
        for the dr_categories
    '''
    food_nutrients = {}
    for food in foods_oi.index:
        try:
            FDC = foods_oi.loc[food,'FDC']
            food_nutrients[food] = fdc.nutrients(apikey,FDC).Quantity
        except:
            pass

    food_nutrients = pd.DataFrame(food_nutrients,dtype=float)

    food_nutrients = food_nutrients[food_nutrients.index.isin(dr_categories)].fillna(0)
    return food_nutrients

In [191]:
food_nutrients = get_nutritional_content(foods_oi, apikey, dr_categories)
food_nutrients

,Wheat Flour,Wheat Cereal,Corn Meal,Rolled Oats,Evaporated Milk,Cabbage,Potatoes,Spinach,Sweet Potatoes,Navy Beans,Sugar,Beets,Milk (Whole),Liver (Beef)
"Calcium, Ca",0.0,19.000,0.000,52.0,267.00,40.000,0.00,99.000,35.00,49.00,1.000,16.000,123.000,5.000
"Carbohydrate, by difference",70.7,76.300,78.790,67.5,10.00,5.800,16.89,3.630,20.00,16.13,99.770,9.560,4.630,3.890
Energy,345.0,359.000,345.000,375.0,133.00,103.000,74.00,97.000,82.00,97.00,1627.000,180.000,61.000,564.000
"Fiber, total dietary",2.6,10.400,0.000,10.0,0.00,2.500,2.00,2.200,3.50,4.00,0.000,2.800,0.000,0.000
"Folate, DFE",0.0,220.000,0.000,0.0,0.00,43.000,0.00,194.000,0.00,0.00,0.000,109.000,0.000,290.000
"Iron, Fe",0.0,27.600,0.000,5.0,0.00,0.470,0.73,2.710,0.59,1.61,0.060,0.800,0.000,4.900
"Magnesium, Mg",0.0,30.000,0.000,0.0,0.00,12.000,0.00,79.000,0.00,0.00,0.000,23.000,12.000,18.000
Niacin,0.0,7.250,5.455,0.0,0.00,0.234,0.00,0.724,0.00,0.00,0.000,0.334,0.105,13.175
"Phosphorus, P",0.0,112.000,0.000,0.0,0.00,26.000,0.00,49.000,0.00,0.00,0.000,40.000,101.000,387.000
"Potassium, K",0.0,126.000,167.000,352.0,300.00,170.000,439.00,558.000,341.00,323.00,2.000,325.000,150.000,313.000
Protein,11.8,10.100,9.090,12.5,6.67,1.280,2.70,2.860,1.18,6.45,0.000,1.610,3.270,20.360
Riboflavin,0.0,0.483,0.000,0.0,0.00,0.040,0.00,0.189,0.00,0.00,0.019,0.040,0.138,2.755
Thiamin,0.0,0.693,1.000,0.0,0.00,0.061,0.00,0.078,0.00,0.00,0.000,0.031,0.056,0.189
"Vitamin A, RAE",0.0,0.000,0.000,0.0,0.00,5.000,0.00,469.000,0.00,0.00,0.000,2.000,32.000,4968.000
Vitamin B-12,0.0,0.890,0.000,0.0,0.00,0.000,0.00,0.000,0.00,0.00,0.000,0.000,0.540,59.300
Vitamin B-6,0.0,0.700,0.000,0.0,0.00,0.124,0.00,0.195,0.00,0.00,0.000,0.067,0.061,1.083
"Vitamin C, total ascorbic acid",0.0,22.700,0.000,0.0,0.00,36.600,2.40,28.100,0.00,0.00,0.000,4.900,0.000,1.300
Vitamin E (alpha-tocopherol),0.0,0.050,0.000,0.0,0.00,0.150,0.00,2.030,0.00,0.00,0.000,0.040,0.050,0.380
Vitamin K (phylloquinone),0.0,0.300,0.000,0.0,0.00,76.000,0.00,482.900,0.00,0.00,0.000,0.200,0.300,3.100
"Zinc, Zn",0.0,0.960,0.000,0.0,0.00,0.180,0.00,0.530,0.00,0.00,0.010,0.350,0.420,4.000

## Examing Nutritional Adequacy

In [268]:
food_nutrients = pd.read_csv('./data/uganda_nutritional_contents.csv').set_index('n')
food_prices = pd.read_csv('./data/uganda_food_prices.csv').fillna(0)
hh_chars = pd.read_csv('./data/uganda_hh_chars.csv')
### Deals With Housholds from an  Unknown Region
hh_chars['m'] = hh_chars['m'].fillna('Unknown')
expenditures = pd.read_csv('./data/uganda_expenditures_19-20.csv').fillna(0)

In [313]:
year_range = '2019-20'
hhc_sub = hh_chars[hh_chars['t'] == year_range].reset_index(drop = True)

In [315]:
household_master = hhc_sub.merge(expenditures, left_on = 'i', right_on = 'i')
household_master

,i,t_x,m_x,F 00-03,F 04-08,F 09-13,F 14-18,F 19-30,F 31-50,F 51+,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
0,00c9353d8ebe42faabf5919b81d7fae7,2019-20,Eastern,1.0,0.0,0.0,3.0,1.0,0.0,1.0,...,0.0,0.0,4000.0,200.0,1000.0,0.0,0.0,0.0,3000.0,0.0
1,062da72d5d3a457e9336b62c8bb9096d,2019-20,Eastern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0d0e29faff394154a69562b4527b48b8,2019-20,Eastern,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,800.0,0.0,0.0,0.0,0.0,0.0
3,0e03e253c35d4333a1ffad2df9d38850,2019-20,Eastern,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,5000.0,200.0,500.0,0.0,0.0,0.0,0.0,0.0
4,1013000201,2019-20,Central,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2000.0,0.0,400.0,2100.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3002,bfdf0d66403440ceab439b1e1c47cdea,2019-20,Eastern,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,6000.0,100.0,1000.0,0.0,0.0,0.0,1000.0,0.0
3003,c33f6cb57d9849949e08a7350dabb829,2019-20,Central,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2000.0,200.0,1000.0,0.0,0.0,0.0,0.0,0.0
3004,d10a687889de469687377204195f3db0,2019-20,Western,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2000.0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0
3005,d24fa50d02c041969a42102d8ebdadc9,2019-20,Eastern,0.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,30000.0,0.0,1200.0,0.0,0.0,0.0,0.0,0.0
3006,e07bc322c4884559b4b8ca75c945dd3e,2019-20,Northern,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,500.0,0.0,0.0,0.0,0.0,0.0

In [353]:
exp_counts = expenditures.drop(columns = ['t'])
exp_counts

,i,m,Beans,Beef,Beer,Biscuits,Bongo,Bread,"Butter, etc.",Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
0,00c9353d8ebe42faabf5919b81d7fae7,Eastern,3600.0,0.0,0.0,0.0,0.0,0.0,0.0,1400.0,...,0.0,0.0,4000.0,200.0,1000.0,0.0,0.0,0.0,3000.0,0.0
1,062da72d5d3a457e9336b62c8bb9096d,Eastern,0.0,0.0,0.0,0.0,0.0,500.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0d0e29faff394154a69562b4527b48b8,Eastern,1000.0,4500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,800.0,0.0,0.0,0.0,0.0,0.0
3,0e03e253c35d4333a1ffad2df9d38850,Eastern,2800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5000.0,200.0,500.0,0.0,0.0,0.0,0.0,0.0
4,1013000201,Central,0.0,0.0,17500.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2000.0,0.0,400.0,2100.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,bfdf0d66403440ceab439b1e1c47cdea,Eastern,1200.0,10000.0,0.0,0.0,2800.0,0.0,0.0,500.0,...,0.0,0.0,6000.0,100.0,1000.0,0.0,0.0,0.0,1000.0,0.0
3005,c33f6cb57d9849949e08a7350dabb829,Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2000.0,200.0,1000.0,0.0,0.0,0.0,0.0,0.0
3006,d10a687889de469687377204195f3db0,Western,2000.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,...,0.0,0.0,2000.0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0
3007,d24fa50d02c041969a42102d8ebdadc9,Eastern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,30000.0,0.0,1200.0,0.0,0.0,0.0,0.0,0.0
3008,e07bc322c4884559b4b8ca75c945dd3e,Northern,2600.0,3000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,500.0,0.0,0.0,0.0,0.0,0.0

In [345]:
fp_sub = food_prices[food_prices['t'] == year_range].set_index('m').drop(columns = ['t'])
fp_sub

,Beans,Beef,Beer,Biscuits,Bongo,Bread,"Butter, etc.",Cabbages,Cake,Cassava,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
m,,,,,,,,,,,,,,,,,,,,,
Central,2500.000000,12000,6000.000000,5000.0,1000.0,4500.0,10000.0,2683.028286,1750.000000,1400.000000,...,1679.389313,1169.607843,1550.000000,13000.00000,671.755725,8000.0,1000.0,2875.0,3358.778626,5000.0
Eastern,2275.000000,10000,6785.714286,2000.0,1000.0,4500.0,10000.0,1679.389313,1679.389313,1235.294118,...,1428.571429,1225.000000,794.444444,10000.00000,625.000000,6000.0,1600.0,2500.0,3465.103599,7200.0
Northern,8833.333333,10000,6500.000000,2000.0,1000.0,5000.0,0.0,2683.028286,1679.389313,890.196078,...,714.285714,1398.039216,1000.000000,10000.00000,625.000000,4000.0,2000.0,3000.0,5366.056572,7000.0
Western,2200.000000,10000,5000.000000,2000.0,1250.0,4500.0,6250.0,2351.145038,2683.028286,1125.000000,...,1341.514143,1720.588235,735.294118,11666.66667,750.000000,6000.0,2000.0,3200.0,5038.167939,8600.0

In [343]:
fp_sub_avgs = fp_sub.drop(columns = ['m'])
fp_sub_avgs = pd.DataFrame(fp_sub_avgs.mean()).rename(columns = {0 : 'Mean_Price'})
fp_sub_avgs

                 Mean_Price
Beans           3952.083333
Beef           10500.000000
Beer            6071.428572
Biscuits        2750.000000
Bongo           1062.500000
...                     ...
Waragi          6000.000000
Water           1650.000000
Wheat (flour)   2893.750000
Yam             4307.026684
Yogurt          6950.000000

[74 rows x 1 columns]

In [375]:
def get_counts(expenditures_df, food_col, prices, price_avs):
    for idx in expenditures_df.index:
        region = expenditures_df.loc[idx, 'm']
        expenditure = expenditures_df.loc[idx, food_col]
        if region == 'Unknown':
            # Imputes price from unknown region with the mean accross all regions
            price = fp_sub_avgs.loc[food_col][0]
            if price == 0: # Don't want to divide by zero
                count = 0
                return count
            else:
                count = expenditure / price
                return count   
        else:
            price = prices.loc[region, food_col]
            if price == 0: # Don't want to divide by zero
                count = 0
                return count
            else:
                count = expenditure / price
                return count

In [369]:
get_counts(expenditures, )

3600.0

In [379]:
fp_sub_avgs.loc['Beans'][0]

3952.08333325